* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.nav{
    display: flex;  
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 50px;
    justify-content: space-between;
}
/* toggle button */



.hero{
    color: var(--secondary-color);
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.main{
    height: 500px;
    width: 600px;
    background-color:var(--primary-color);
    border-radius: 15px;
}
.title{
    height: 20px;
    margin-top: 10px;
    text-align: center;
}
.tasks{
    height: 400px;
    width: 200px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
}
.taskTitle{
    height: 30px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.task{
    margin-top: 50px;
    text-align: center;
}

.operation{
    display: flex;
    justify-content: right;
    margin-top: 15px;
    margin-right: 70px;
}

.input{
    display: flex;
    justify-content: center;
    margin-top: 10px;    
}

#input-box{
    text-align: center;
    width: 400px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#add{
    width: 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#list{
    margin-top: 15px;
    margin-left: 75px;
    text-align: left;
}

.completed {
    text-decoration: line-through;
    color: gray;
  }
  
  .done-button {
    margin-left: 10px;
  }
  